table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th, table td {
  width: 10em;
  border: 1px solid black;
  padding: 0.5em;
}

input {
  font-size: 0.8rem;
}

.margin-small-x {
  margin: 0 0.5em;
}

.margin-small-y {
  margin: 0.5em 0;
}
